@font-face {
  font-family: 'icofirst';
  src:
    url('../fonts/icofirst.ttf?c8ft2j') format('truetype'),
    url('../fonts/icofirst.woff?c8ft2j') format('woff'),
    url('../fonts/icofirst.svg?c8ft2j#icofirst') format('svg');
  font-weight: normal;
  font-style: normal;
}

.if {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icofirst' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.if-first-logo:before {
  content: "\e900";
}
.if-first-logo-vertical:before {
  content: "\e900";
}
.if-first-logo-horizontal:before {
  content: "\e904";
}
.if-first-icon:before {
  content: "\e909";
}
.if-first-wordmark:before {
  content: "\e90a";
}
.if-frc-logo:before {
  content: "\e90b";
}
.if-frc-logo-vertical:before {
  content: "\e90b";
}
.if-frc-logo-horizontal:before {
  content: "\e926";
}
.if-frc-wordmark:before {
  content: "\e927";
}
.if-frc-2014:before {
  content: "\e906";
}
.if-frc-aerial-assist:before {
  content: "\e906";
}
.if-frc-2015:before {
  content: "\e903";
}
.if-frc-recycle-rush:before {
  content: "\e903";
}
.if-frc-2016:before {
  content: "\e902";
}
.if-frc-stronghold:before {
  content: "\e902";
}
.if-frc-2017:before {
  content: "\e907";
}
.if-frc-steamworks:before {
  content: "\e907";
}
.if-frc-steamworks-vertical:before {
  content: "\e907";
}
.if-frc-steamworks-horizontal:before {
  content: "\e90c";
}
.if-ftc-logo:before {
  content: "\e928";
}
.if-ftc-logo-vertical:before {
  content: "\e928";
}
.if-ftc-logo-horizontal:before {
  content: "\e929";
}
.if-ftc-wordmark:before {
  content: "\e92a";
}
.if-ftc-2016:before {
  content: "\e901";
}
.if-ftc-velocity-vortex:before {
  content: "\e901";
}
.if-fll-logo:before {
  content: "\e92b";
}
.if-fll-logo-vertical:before {
  content: "\e92b";
}
.if-fll-logo-horizontal:before {
  content: "\e92c";
}
.if-fll-wordmark:before {
  content: "\e92d";
}
.if-fll-2016:before {
  content: "\e905";
}
.if-fll-animal-allies:before {
  content: "\e905";
}
.if-flljr-logo:before {
  content: "\e92e";
}
.if-flljr-logo-vertical:before {
  content: "\e92e";
}
.if-flljr-logo-horizontal:before {
  content: "\e92f";
}
.if-flljr-wordmark:before {
  content: "\e930";
}
.if-flljr-2016:before {
  content: "\e908";
}
.if-flljr-creature-craze:before {
  content: "\e908";
}

